$white: #ffffff;
$dark: #333333;
$gray: #dddddd;
$violet: #6969D1;
$dark-violet: #5050BA;
$light-violet: #B9B9ED;

@mixin bold-28 {
    font-weight: bold;
    font-size: 28px;
}

@mixin regular-22 {
    font-size: 22px;
    font-weight: normal;
}

@mixin bold-22 {
    font-weight: bold;
    font-size: 22px;
}

@mixin regular-14 {
    font-size: 14px;
    font-weight: normal;
}

@mixin bold-14 {
    font-weight: bold;
    font-size: 14px;
}

.App{
    @media only screen and (min-width: 461px) {
        display: flex;
        
    }

.violet-square{
    height: 560px;
    width: 560px;
    background-color: $dark-violet;
    display: none;
    @media only screen and (min-width: 461px) {
        display: block;
    }
}

.active-btn{
    background-color: $dark-violet;
}

.minicart{
    max-width: 460px;
    border: 1px $gray solid;
    flex-grow: 1;

.section{
    font-family: Arial;
    .button-x{
        border: none;
        background-color: inherit;
        @include regular-22;
    }
}

.section-header{
    display: flex;
    justify-content: space-between;
    border: 1px $gray solid;
    padding: 20px 10px;
}

.section-list{
    height: 315px;
    @media only screen and (min-width: 461px) {
        height: 340px;
    }
    overflow: auto;
    .products-list{
        li{
            border: 1px $gray solid;
            .product-info{
                display: flex;
                & > *{
                    padding: 10px;
                }
                .product-info-text{
                    .product-name{
                        @include regular-22;
                    }
                }
                .button-container{
                    margin-left: auto;
                }


            }
            .product-summary{
                display: flex;
                justify-content: space-around;
                align-items: center;
                @include bold-22;
                margin: 10px 0;
                .quantity-counter-container{
                display: flex;
                align-items: center;
                & > * {
                    margin: 2px;
                }
                .quantity-counter-button{
                    display:flex;
                    border: 1px $gray solid;
                    border-radius: 4px;
                    width: 110px;
                    height: 30px;
                    button{
                        border: none;
                        width: 30px;
                        height: 30px;
                        color: $white;
                    }
                    .qty-field-container{
                        width: 50px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include bold-14;
                    }
                }
                }
                .prices-container{
                    display: flex;
                    @include bold-14;
                    width: 143px;
                    justify-content: right;
                    .old-price{
                        color: $light-violet;
                        text-decoration: line-through;
                    }
                    .current-price{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.section-summary{
    .section-summary-text{

        justify-content: space-around;
    
        & > * {
            margin: 10px;
        }
        .shipping{
            display: flex;
            justify-content: space-around;
            @include regular-22;
        }
        .order-total{
            display: flex;
            justify-content: space-around;
            @include bold-22;
        }
    }

    .button-container{
        display: flex;
        justify-content: center;
        .button-checkout{
            background-color: $violet;
            color: $white;
            @include bold-22;
            padding: 10px 80px;
            margin: 10px 0;
            border: none;
        }
    }
}

}
}